<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuT9J28VAKAdavTpuQ-mYxcHsOiL1D62I</string>
	<key>GCM_SENDER_ID</key>
	<string>292040708519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.react-native.vokve</string>
	<key>PROJECT_ID</key>
	<string>vokve-41530</string>
	<key>STORAGE_BUCKET</key>
	<string>vokve-41530.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292040708519:ios:e5710c006a7af867b3a682</string>
</dict>
</plist>